<div class="resultsection">
  <h3>User({{value}})</h3>

  <table width="100%">
    <tr>
      <td width="76px" style="padding:3px;">
        <a href="#" class="userdrilldown" data-userid="{{value}}"><img width="64" height="64" class="profileimage" data-userid="{{value}}" src=""/></a>
      </td>
      <td valign="top">
        <b>Name:</b> <a href="#" class="userdrilldown" data-userid="{{value}}"><span class="username" data-userid="{{value}}"></span></a> <br/>
        <b>Reputation:</b> <span class="reparea" data-userid="{{value}}"></span> <br/>
        <b>Link:</b> <a href="http://programmers.stackexchange.com/users/{{value}}">programmers.stackexchange.com/users/{{value}} <img src="http://sstatic.net/programmers/img/favicon.ico"/></a>
      </td>
    </tr>
  </table>

  <div>
    <a href="#" class="complexquery" data-query="user.answered" data-value="{{value}}">Answered Questions</a> |
    <a href="#" class="complexquery" data-query="questions.answered" data-value="{{value}}">Questions Answered</a> |
    <a href="#" class="complexquery" data-query="user.question.tags" data-value="{{value}}">Questions Tags</a> <br/>

    <a href="#" class="complexquery" data-query="user.qtags.count" data-value="{{value}}">Questions Tag Popularity</a> |
    <a href="#" class="complexquery" data-query="user.atags.count" data-value="{{value}}">Answer Tag Popularity</a>
  </div>
</div>

<br/>
<h3>Popularity of Tags user has Answered Questions of</h3>
<br/>
<ul class="nodelist">
  {{#if result}}
    {{#each result}}
      <li>
        <div class="resultsection">
          <h3>Result</h3>

          <table style="padding:5px;">
            <tr><td valign="top" align="right"><b>Tag:</b></td><td><a href="#" class="tagdrilldown" data-tagname="{{tagName}}">{{tagName}}</a></td></tr>
            <tr><td valign="top" align="right"><b>Count:</b></td><td>{{tagCount}}</td></tr>
          </table>
        </div>
      </li>
    {{/each}}
  {{else}}
    <li>None</li>
  {{/if}}
</ul>
